#container {
    position: absolute;
    height: 700px;
    width: 1100px;
    border: 2px solid #000;
    overflow: hidden;
    perspective: 550px;
}

#world {
    position: absolute;
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
}

#pawn { 
    position: absolute;
    top: 350px;
    left: 550px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    transform: translate(-50%, -50%);
}

.coins {
    transform-style: preserve-3d;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotateY(0deg);   }
    to   { transform: rotateY(360deg); }
}

#text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999 !important;
    color: white;
    margin: 0;
    font-family: "Arial";
    text-shadow: 2px 2px 4px black;
    pointer-events: none;
    font-size: 25px;
}

.text_lvl_two{
    animation: lvl_two 3s;
}


@keyframes lvl_two {
    from { left: 50%; top: 50%; font-size: 100px;  }
    to   { top: 20px; left: 20px;  font-size: 25px;}
}